<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>
<h1>Welcome home</h1>

<!-- In your home.html template -->
<div th:if="${username}">
  <p>Hello, <span th:text="${username}">User</span>!</p>
  <p>You are successfully logged in.</p>

  <!-- Add these links -->
  <div>
    <a th:href="@{/media/uploadform}">Upload Files</a>
  </div>
  <div>
    <a th:href="@{/media/list}">View My Files</a>
  </div>

  <div>
    <a th:href="@{/capsules/myCapsules}">View My Capsules</a>
  </div>

  <form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
  </form>
</div>

</body>
</html>